:root {
	/* light */
	--primary-color: #1890ff;
  --text-base-color: #333;
  --text-light-solid-color: #fff;
  --background-color: #fff;

	/* dark */
	--primary-color-dark: #1a7656;
  --text-base-color-dark: #bdb5b5;
  --text-light-solid-color-dark: #bdb5b5;
  --background-color-dark: #525252;
}